* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: rgb(186, 226, 213);
}

#toolbar {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

#all, #population, #area {
    font-size: 17px;
    background-color: black;
    color: white;
    padding: 5px;
}

h1 {
    color: rgb(75, 5, 5)
}

img {
    height: 200px;
}